<h1>Books</h1> <!--Book投稿一覧画面-->
<% @books.each do |book| %>
<div>

  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <p>ユーザーネーム：<%= book.user.name %></p>

  <p>Title：</p>
  <%= link_to book_path(book.id) do %>
  <%= book.title %>
  <% end %>
  <p>Opinion：<%= book.body %></p>
</div>
<% end %>

<%= paginate @books %>